{% extends 'authenticated.html' %}

{% block postnav %}
<center>
  <h1>Event Listings</h1>
</center>
{% for event in events %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
      {% include 'single_event.html' %}
      {% if user.is_superuser %}
        <a button type="submit" class="btn btn-secondary" href="{% url 'reject_event' event.id %}">Reject</a>
        <a button type="submit" class="btn btn-danger" href="{% url 'delete_event' event.id %}" onclick="confirmDelete('{{ event.id }}')">Delete</a>
      {% endif %}
    </div>
      {% empty %}
      <p>No events available.</p>
  {% endfor %}
{% endblock %}

