{% extends 'authenticated.html' %}

{% block postnav %}
<center>
  <h1>My Events</h1>
</center>
{% for event in events %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
      <h3>{{ event.name }}</h3>
      <p>ℹ️ {{ event.description }}</p>
      <p>📍 {{ event.location }}</p>
      <p>🕒 {{ event.date_time }}</p>
      <p>🏷️
      {% for tag in event.tags.all %}
          {{ tag.name }}
          {% if not forloop.last %}|{% endif %}
      {% endfor %}
      <p><strong>Status:</strong> {{ event.get_approval_status_display }}</p>
      {% if user.is_superuser %}
        <a button type="submit" class="btn btn-primary" href="{% url 'approve_event' event.id %}">Approve</a>
        <a button type="submit" class="btn btn-secondary" href="{% url 'reject_event' event.id %}">Reject</a>
      {% endif %}
      {% include 'delete_button.html' %}
    </div>
      {% empty %}
      <p>No events available.</p>
  {% endfor %}
{% endblock %}

